
body {
  background-image: url("../img/au.jpg");
}

#appBg {
  height: 485px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto;
}

#appBg form {
  height: 100%;
  width: 100%;
  background-color: black;
}

#appBg .textfield {
  height: 25%;
  width: 100%;
  cursor: default;
  background-color: black;
  color: white;
  padding: 0px;
  text-align: right;
  font-size: 50px;
  border: 0px;
  outline: none;
}

#appBg .button {
  width: 22%;
  cursor: pointer;
  font-size: 26px;
  color: black;
  padding: 18px;
  margin: 3px;
  border: 0;
  border-radius: 90%;
}

#appBg .large {
  width: 47%;
  border-radius: 35%;
}

#appBg .operador {
  background-color: darkslategray;
  color: white;
}